/* .navegacion {
    background-color: #F26101 !important;
    border: none !important;
} */

.banner-home {
    margin-bottom: 60px;
    border-radius: 0px;
}
.banner-home .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-home .card-title {
    font-size: 48px;
}
.banner-home .card-text {
    font-size: 18px;
}


.btn-primary {
    background-color: #304269 !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #91BED4 !important;
}

.habilidad {
    border: solid 1px #91BED4;
    padding: 10px 20px;
    border-radius: 5px;
}

.footer {
    margin-top: 60px;
    background-color: #304269;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
    font-size: 14px;
}

.footer h3 {
    font-size: 16px;
    font-weight: bold;
}

.footer p {
    margin: 0;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

/* Color Theme Swatches in Hex */
.Corporate-Orange--Blue-1-hex { color: #304269; }
.Corporate-Orange--Blue-2-hex { color: #91BED4; }
.Corporate-Orange--Blue-3-hex { color: #D9E8F5; }
.Corporate-Orange--Blue-4-hex { color: #FFFFFF; }
.Corporate-Orange--Blue-5-hex { color: #F26101; }

/* Color Theme Swatches in RGBA */
.Corporate-Orange--Blue-1-rgba { color: rgba(47, 66, 105, 1); }
.Corporate-Orange--Blue-2-rgba { color: rgba(144, 189, 212, 1); }
.Corporate-Orange--Blue-3-rgba { color: rgba(216, 232, 244, 1); }
.Corporate-Orange--Blue-4-rgba { color: rgba(255, 255, 255, 1); }
.Corporate-Orange--Blue-5-rgba { color: rgba(242, 96, 1, 1); }

/* Color Theme Swatches in HSLA */
.Corporate-Orange--Blue-1-hsla { color: hsla(221, 37, 30, 1); }
.Corporate-Orange--Blue-2-hsla { color: hsla(199, 43, 70, 1); }
.Corporate-Orange--Blue-3-hsla { color: hsla(207, 58, 90, 1); }
.Corporate-Orange--Blue-4-hsla { color: hsla(0, 0, 100, 1); }
.Corporate-Orange--Blue-5-hsla { color: hsla(23, 99, 47, 1); }
